.css-yj7165-MuiFormControlLabel-root .MuiFormControlLabel-label.Mui-disabled {
  color: black;
  font-size: smaller;
}

.css-1wk2tpb-MuiFormControlLabel-root .MuiFormControlLabel-label.Mui-disabled {
  color: black;
  font-size: smaller;
}

.css-1h5eu7h-MuiFormControlLabel-root .MuiFormControlLabel-label.Mui-disabled {
  color: black;
  font-size: smaller;
}
